<div class="message">
  <a href="{{ m.display_url }}"><img class="ava" src="{{ m.display_avatar }}"></a>
  <div class="body">
    <div>
      <a href="{{ m.display_url }}"><b>{{ m.display_name }}</b></a>
      <span class="muted">— {{ m.created_at|date:"j E Y, H:i" }}</span>
    </div>
    {% if m.image %}
      <div class="wall-image"><a href="{{ m.image.url }}" target="_blank"><img src="{{ m.image.url }}" alt=""></a></div>
    {% endif %}
    {% if m.text %}<div class="text">{{ m.text|linebreaksbr }}</div>{% endif %}
  </div>
</div>
