{% extends 'base.html' %}
{% block title %}{% if mode == 'create' %}Создать группу{% else %}Редактировать группу{% endif %}{% endblock %}

{% block content %}
<h1>{% if mode == 'create' %}Создать группу{% else %}Редактировать группу{% endif %}</h1>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% for field in form %}
    <div class="form-row">
      <label>{{ field.label }}</label>
      {{ field }}
      {% if field.errors %}<div class="err">{{ field.errors|join:', ' }}</div>{% endif %}
    </div>
  {% endfor %}
  <div class="form-row">
    <label></label>
    <button class="btn btn-primary" type="submit">Сохранить</button>
    {% if group %}&nbsp;<a href="{% url 'groups:view' group.id %}">Отмена</a>{% endif %}
  </div>
</form>
{% endblock %}
